@import '../../scss/mediaQueries';
@import '../../scss/fonts';

.article-detail-component {
  &__back-link {
    margin: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
    background: url('../../assets/img/back-arrow.svg') center center no-repeat;
    background-size: contain;
    
    @include for-desktop-and-up {
      margin-left: 15px;
    }
  }

  &__main-container {
    display: flex;
    flex-direction: column;
  }

  &__image-info-container {
    padding: 0;
    display: flex;
    flex-direction: column;

    @include for-desktop-and-up {
      padding: 15px;
      flex-direction: row;
      > div {
        flex: 1;
      }
    }
  }

  &__information-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    @include for-desktop-and-up {
      padding: 0 20px;
    }
    
    > span {
      padding-bottom: 10px;
    }
  }

  &__section {
    font-family: "BalsamiqSans";
  }

  &__title {
    padding: 10px 0;
    font-size: 25px;
    font-family: "BalsamiqSans";

    @include for-desktop-and-up {
      padding: 15px;
      flex-direction: row;
      > div {
        flex: 1;
      }
    }
  }
}