.search-input-component {
  &__main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search-icon {
    width: 20px;
    height: 20px;
    background: url('../../assets/img/search.svg') center center no-repeat;
    background-size: contain;
    display: none;
    opacity: 0;
    cursor: pointer;
    transition: display 1s, opacity 0.3s;

    &.active {
      display: block;
      opacity: 1;
    }
  }

  &__input {
    display: none;
    width: 0;
    height: 25px;
    transition: width 1s, opacity 0.3s;

    &.active {
      display: block;
      width: 200px;
      opacity: 1;
      position: absolute;
      right: 0;
    }
  }

  &__cancel-icon {
    display: block;
    width: 12px;
    height: 12px;
    background: url('../../assets/img/close.svg') center center no-repeat;
    position: absolute;
    right: 4px;
    cursor: pointer;
  }
}