@import '../../../scss/variable';

.footer-component {
  &__main-container {
    padding: 0 15px;
    height: 50px;
    background: preset-color('background');
    justify-content: center;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
  }
}